<appSettings>
	<add key="ida:AppID" value="f330787f-97e4-4df4-aa46-38f14dd47a4e" />
	<add key="ida:AppSecret" value="liz8Q~eoSAGcfA5cUtmboMwZRlontu4xi_zvYcsN" />
	<add key="ida:RedirectUri" value="https://localhost:44330/" />
	<add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>